# tuple

 ... python handles multiple values as tuples
- create
- tuple packing and unpacking

In [1]:
x=(1,2,3)## tuple
y=1,5,7## tuple
print(x)
print(y)

(1, 2, 3)
(1, 5, 7)

In [2]:
word='tuple'
for i in enumerate(word):
    print(i)

(0, 't')
(1, 'u')
(2, 'p')
(3, 'l')
(4, 'e')

In [7]:
a='nishant'+'rahul'
for i in enumerate(a):
    
    print(i)

(0, 'n')
(1, 'i')
(2, 's')
(3, 'h')
(4, 'a')
(5, 'n')
(6, 't')
(7, 'r')
(8, 'a')
(9, 'h')
(10, 'u')
(11, 'l')

In [9]:
print('""')
print(''' '' "" ''')

""
 '' ""

In [4]:
x= (1,3,2,4,2,3,2,3,2,2)
print(x.count(2))
print(x.index(2))# search for2 and return index
print(x.index(2,3))  #search for2 and starting from  index 2

5
2
4

In [15]:
data =('alpha','beta','gamma')
a,b,c=data # unpacking
print(c,b,a)

gamma beta alpha

In [5]:
data =('alpha','beta','gamma')
a,b,a=data # unpacking
print(a,b)

gamma beta

In [20]:
data =('alpha','beta','gamma','delta','epsilon')

In [21]:
# take first value in a variable and put the rest in second variable
i,*j=data ## ye list banga
print(i)
print(j)

*x,y=data
print(x)
print(y)

a,*b,c =data
print(a,b,c)

# a,b,c,d,e,*f= data
# print(a,b,c,d,e,f)

alpha
['beta', 'gamma', 'delta', 'epsilon']
['alpha', 'beta', 'gamma', 'delta']
epsilon
alpha ['beta', 'gamma', 'delta'] epsilon

In [24]:
a=() ## not a emply tuple its error
print(tuple(a),a)


a=(1,) ## not a emply tuple its error   , round bracket nhi bhi lagayenge to bhi tuple hoga
print(tuple(a), type(a))

() ()
(1,) <class 'tuple'>

# set
 - create (loop)
 - methods
 - set operation

In [9]:
a= set()## empty set
b={1,2,3}
c={12,12,23,2,3,2,3,2,3,22,32}
print(a)
print(b)
print(c)
d={'A','B','C'}  ## random values ko pick krta hai
print(d)

set()
{1, 2, 3}
{32, 2, 3, 22, 23, 12}
{'C', 'A', 'B'}

In [10]:
c.add(5)
print(c)
c.add(100)
c.update([1,2,3,11,34])
print(c)

{32, 2, 3, 5, 22, 23, 12}
{1, 2, 3, 5, 11, 12, 22, 23, 32, 34, 100}

In [11]:
c.remove(100) ## isme error aa sakti h
print(c)
c.discard(3) # better than remove error nhi aayega
print(c)

{1, 2, 3, 5, 11, 12, 22, 23, 32, 34}
{1, 2, 5, 11, 12, 22, 23, 32, 34}

In [15]:
c.pop() # remove random elemnt , value return hoti h jo remove hogi 
print(c) ## jitti bar enter krte jayege utti baar pop krta jayega

{12, 22, 23, 32, 34}

In [1]:
movies1={'aaa','bbb','ccc'}
movies2={'fff','ggg','hhh'}
movies3={'aaa','bbb','ccc','fff','ddd'}

- `|` union
- `&` intersection
- `-` difference
- `^` symmetric difference

In [2]:
print(movies1.union(movies3))
print(movies1 | movies3)

{'bbb', 'fff', 'aaa', 'ddd', 'ccc'}
{'bbb', 'fff', 'aaa', 'ddd', 'ccc'}

In [5]:
print(movies1.intersection(movies3))
print(movies1&movies3)

{'ccc', 'bbb', 'aaa'}
{'ccc', 'bbb', 'aaa'}

In [9]:
print(movies1.difference(movies3))
print(movies1 - movies3)
print(movies3 - movies1)
# print(movies1 - movies3)
# print(movies3)

set()
set()
{'fff', 'ddd'}

In [10]:
print(movies1.symmetric_difference(movies3)) ## itersectionn ka ulta common ko hta denge
print(movies1 ^ movies3)

{'fff', 'ddd'}
{'fff', 'ddd'}

- relation
  - isupperset
  - issubset
  - isdisjoint

In [11]:
movies3.issuperset(movies2)

False

In [12]:
movies3.isdisjoint(movies2)

False

In [14]:
movies2.isdisjoint(movies1)  ## there is common items

True