In [1]:
x=1

### datatypes
- int
- float
- bool
- str

a = "apple"

In [2]:
a = "apple"

In [5]:
a = "apple"

In [3]:
b = 1000

In [7]:
c = 3.145

In [8]:
b= True

In [1]:
b = None

In [10]:
b=[1,2,3]

In [2]:
d={1,2,3}
e={'a':'apple','b':'banana'}

### operators in python
- aeithmatic
- assighnment 
- comparison
- logical
- identity
- membership
- bitwise

In [5]:
a=10
b=3

In [6]:
print(a+b)
print(a-b)
print(a*b)
print(a/b) ## quitient
print(a//b)## div
print(a%b)##%mod(remainder)
print(a**b)## power (square of recent value)

13
7
30
3.3333333333333335
3
1
1000

In [18]:
a=10
print(a)
a-= 2# reduce 2 from a
print(a)
a += 4 #add 4 to a
print(a)
a *= 2# multiply by 2 but in recent value of a
print(a)
a /= 2
print(a)
a **=2
print(a)

10
8
12
24
12.0
144.0

In [8]:
a=10
b=3
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)
print(0<a<20)#chaining

True
False
False
True
False
True
True

In [1]:
a=100
print (0<a<120)

True

In [22]:
name = "raju"
age=19
print(name=="rohan")
print(name=="raju")

False
True

In [23]:
print(name=="raju" and age >=18)
print(name!="sohan" and age <18)
print(name!="sohan" or age <18)
print(name!="sohan" or not age <18)
print(not name!="sohan" and not age <18)## both true are compulsory

True
False
True
True
False

In [16]:
a=10
b=2
print(a==b and a>=b)
print(a==b or a>=b)
print(a!=b and a<b)
print(a!=b or a<b)
print(a!=b and a>b)
print(a!=b or a<b)
print(a==b or not a<b)
print(a!=b and not a>=b)
print(a==b and not a<=b)
print(a==b or not a<=b)

False
True
False
True
True
True
True
False
False
True

In [24]:
a=[1,2,3]
b=a
c=a.copy()#shallow copy

In [25]:
print(a is b)# a and b are  not at same location
print(a is c)#a and c are at differnt memory location
print(b is c)#b and c are at differnt memory location

True
False
False

In [26]:
name="nishant"
print('nis' in name)
print('nisa' in name)
print('nish' in name)

True
False
True

In [27]:
colors = ['red','green','blue']
print('red'in colors)
print('yellow'in colors)
print('green'in colors)

True
False
True

In [28]:
p=1200
r=7
t=2
si=p*r*t/100
print(si)

168.0