In [11]:
for i in range (1,5):
   for j in range (1,5):
    if j<=i:
      print("*",end=" ")
    else:
        print(" ",end=" ")
   print()

*
* *
* * *
* * * *

In [1]:
num=int(input('enter password:'))
if num==4589:
    print("password is true")
else :
    print("password is wrong")

password is wrong

In [19]:
for i in range (1,5):
    for j in range(1,8):
        if j>=i and j<=8-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()
            
##

*******
 *****
  ***
   *

In [12]:
num=input("entr your id")
match (num):
    case "01"|"02"|'03'|'04'|'05'|'06'|'07' :
        print(" are pass")
    case '07'|'09'|'010':
        print("you are fail")

you are fail

In [2]:
for i in range (1,4):
    for j in range(1,6):
        if j>=4-i and j<=2+i:
            print("*",end="")
        else:
            print(" ",end="")
    print()
            
##

  *
 ***
*****

In [6]:
for i in range (0,4):
    for j in range(0,4):
        if j>=1 and j<=i:
            print("*",end="")
        else:
            print(' ',end="")
    print()

 *
 **
 ***

In [7]:
for i in range (1,4):
    for j in range(1,4):
        if j>=3-i+1 and j<=3:
            print("*",end="")
        else:
            print(" ",end="")
    print()

  *
 **
***

In [3]:
s= int(input("enter any no."))
y = input("enter your name")
print (f"{s} + {y}")

15 + nidhu

In [1]:
for i in range(13):
    print(i * '*')

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [11]:
num=int(input("enter any no."))
for i in range(1,11):
    print(f"{num} X {i} = {num * i}")

55 X 1 = 55
55 X 2 = 110
55 X 3 = 165
55 X 4 = 220
55 X 5 = 275
55 X 6 = 330
55 X 7 = 385
55 X 8 = 440
55 X 9 = 495
55 X 10 = 550

In [13]:
l=['nishu','rahul',"jain","sam","sanny",'nishant','rani']
for idx, value in enumerate(l):
    print(idx,value)

0 nishu
1 rahul
2 jain
3 sam
4 sanny
5 nishant
6 rani

In [64]:
l=['nishu','rahul',"jain","sam","sanny",'nishant','rani']

post = input("enter a post:")
if 'l' in post.lower():

    print("yes ! the post contaibn the name")
else:
    print("no! the post does't contain name")

no! the post does't contain name

In [60]:
l=['nishu','rahul',"jain","sam","sanny",'nishant','rani']

for name in (l) :
    if name. startswith ("n"):
           print("hello"+name)
# else:
#     print('no name found')

hellonishu
hellonishant

In [61]:
l=['NISHANT','RAHUL',"JAIN","SAM","Sanny",'Nishant','Rani']

post = input("enter a post:")
if 'l' in post.lower():

    print("yes ! the post contaibn the name")
else:
    print("no! the post does't contain name")

no! the post does't contain name

In [75]:
for i in range(1,4):
    for i in range(1,4) :
        if j >=1 and  j<=3 :
            print("* ",end=" ")
        else:
            print(" ",end=" ")
    print()

*  *  *
*  *  *
*  *  *

In [78]:
rows= int(input("enter the no.of rows:"))

for i in range(1,rows+1):
    for i in range(1,i+1) :
        # if j >=1 and  j<=3 :
            print(j ,end='')
        # else:
            # print(" ",end=" ")
    print("")

3
33
333
3333

In [84]:
asciiValue=65
for i in range(0,7):
    for i in range(0+i+1) :
        alphabate = chr(asciiValue)
        print(alphabate,end="")
        asciiValue+= 1
    print()

A
BC
DEF
GHIJ
KLMNO
PQRSTU
VWXYZ[\

In [6]:
num = input("enter a number:")
if num.isnumeric():   ## digit, float sare numeric ke liye hi use hoga
    num=int(num)
    print("very good")      ## sirf digits ke liye use hota hai
else:
    print("enter no. only")
if num == num:
    print(num*2)

enter no. only
ll